@tailwind base;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: gray-400/40 #683ED8;
  }

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: gray-400/40;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #683ED8;
    border-radius: 0px;
    width: 8px;
    
  }

@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs
        tracking-widest text-gray-500 transition-all hover:border-[#683ED8] hover:text-[#683ED8];
    }
}