@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(
    to bottom right,
    theme("colors.orange.50"),
    theme("colors.orange.100"),
    theme("colors.yellow.50")
  );
  --foreground: #171717;
  scrollbar-gutter: stable;
}

html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--foreground);
  background: var(--background);
}

body {
  text-rendering: optimizeLegibility;
}

code {
  font-family: "Menlo", "Monaco", "Courier New", monospace;
}

.transition-element {
  view-transition-name: pow;
}

::view-transition-old(pow) {
  animation: fade-out 0.8s ease-in-out;
}

::view-transition-new(pow) {
  animation: fade-in-up 0.4s ease-in-out;
}

.digit-scroll {
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.digit-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}

@keyframes number-scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  60% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0;
  }

  20% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0.5;
  }

  80% {
    transform: translateY(0) translateX(-0.2px);
    opacity: 0.7;
  }

  100% {
    transform: translateY(0) translateX(-0.2px);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    transform: translateY(0) translateX(-0.2px);
    opacity: 1;
    font-weight: 500;
  }

  20% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0.5;
  }

  40% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0.3;
  }

  60% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0.2;
  }

  100% {
    transform: translateY(24px) translateX(-0.2px);
    opacity: 0;
  }
}

@supports (view-transition-name: none) {
  .fade-in {
    animation: fade-in 0.8s ease-in-out forwards;
    opacity: 0;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
